@font-face{
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  src:url("../fonts/Noto-Sans-regular/Noto-Sans-regular.eot");
  src:url("../fonts/Noto-Sans-regular/Noto-Sans-regular.eot?#iefix")
  format("embedded-opentype"),local("Noto Sans"),local("Noto-Sans-regular"),url("../fonts/Noto-Sans-regular/Noto-Sans-regular.woff2")
  format("woff2"),url("../fonts/Noto-Sans-regular/Noto-Sans-regular.woff")
  format("woff"),url("../fonts/Noto-Sans-regular/Noto-Sans-regular.ttf")
  format("truetype"),url("../fonts/Noto-Sans-regular/Noto-Sans-regular.svg#NotoSans")
  format("svg")
}

@font-face{
  font-family:'Noto Sans';
  font-weight:700;
  font-style:normal;
  src:url("../fonts/Noto-Sans-700/Noto-Sans-700.eot");
  src:url("../fonts/Noto-Sans-700/Noto-Sans-700.eot?#iefix")
  format("embedded-opentype"),local("Noto Sans Bold"),local("Noto-Sans-700"),url("../fonts/Noto-Sans-700/Noto-Sans-700.woff2") 
  format("woff2"),url("../fonts/Noto-Sans-700/Noto-Sans-700.woff")
  format("woff"),url("../fonts/Noto-Sans-700/Noto-Sans-700.ttf") format("truetype"),url("../fonts/Noto-Sans-700/Noto-Sans-700.svg#NotoSans")
  format("svg")
}

@font-face{
  font-family:'Noto Sans';
  font-weight:400;
  font-style:italic;
  src:url("../fonts/Noto-Sans-italic/Noto-Sans-italic.eot");
  src:url("../fonts/Noto-Sans-italic/Noto-Sans-italic.eot?#iefix")
  format("embedded-opentype"),local("Noto Sans Italic"),local("Noto-Sans-italic"),url("../fonts/Noto-Sans-italic/Noto-Sans-italic.woff2")
  format("woff2"),url("../fonts/Noto-Sans-italic/Noto-Sans-italic.woff")
  format("woff"),url("../fonts/Noto-Sans-italic/Noto-Sans-italic.ttf")
  format("truetype"),url("../fonts/Noto-Sans-italic/Noto-Sans-italic.svg#NotoSans")
  format("svg")
}

@font-face{
  font-family:'Noto Sans';
  font-weight:700;
  font-style:italic;src:url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot");
  src:url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot?#iefix")
  format("embedded-opentype"),local("Noto Sans Bold Italic"),local("Noto-Sans-700italic"),url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2")
  format("woff2"),url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff")
  format("woff"),url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf")
  format("truetype"),url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg#NotoSans")
  format("svg")
}
  
div.buttonbar{
  color:#666;
}
div.popup{
  margin-top:15px;
  margin-left:0px;
  border-left:1px solid #bbbbbb;
  padding-left:15px;
  color:#666;
}
.button{
  background-color:#ffffff;
  padding:0px;
  font:14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#03360c;
  font-weight:400;
  cursor:pointer;
  border:none;
  text-decoration: underline;
}
.wrapper{width:860px;margin:0 auto}

header{width:230px; float:left; position:fixed; -webkit-font-smoothing:subpixel-antialiased}
section{width:540px; float:right; padding-bottom:50px}
footer{width:230px; float:left; position:fixed; bottom:50px; -webkit-font-smoothing:subpixel-antialiased}
img{max-width:100%}
h1,h2,h3,h4,h5,h6{margin:0 0 20px}
h1,h2,h3{line-height:1.1}
h1{color:#000; font-size:28px}
h2,h3{color:#222}
h4,h5,h6{color:#444}
body{
  background-color:#fff;
  padding:50px;
  font:14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#666;
  font-weight:400
}
small{font-size:11px}
p{color:#222; margin:0 0 20px}
a{color:#03360c}
/* #267CB9 #188aff #0a7fda */

@media print, screen and (max-width:960px){
  div.wrapper{width:auto; margin:0}
  header,section,footer{float:none; position:static; width:auto}
  header{padding-right:320px}
  section{border:1px solid #e5e5e5; border-width:1px 0; padding:20px 0; margin:0 0 20px}
  header a small{display:inline}
  header ul{position:absolute; right:50px; top:52px}
}

@media print, screen and (max-width:720px){
  body{word-wrap:break-word}
  header{padding:0; text-align:center}
  header ul,header p.view{position:static}
  pre,code{word-wrap:normal}
}

@media print, screen and (max-width:480px){
  body{padding:15px}.downloads{width:99%}.downloads
  li,.downloads
  li+li+li{width:33%}
}

@media print{
  body{padding:0.4in; font-size:12pt; color:#222}
}